@charset "UTF-8";
#body {
	color: #494b4f;
       font-family: 'Bungee Inline', serif;
    
}

#mainpage {
	height: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
    color: #494b4f;
    font-weight: 100;
    font-family: 'Bungee Inline', serif;
    text-align: center;
    font-size: 50px;
   text-shadow: 6px 6px 6px #aaa;
  
}

h2 {
    color: #494b4f;
    font-weight: 100;
    font-family: 'Bungee Inline',serif;
}

h3 {
    color: #494b4f;
    font-weight: 50;
    font-family: 'Bungee Inline',serif;
}

p {
   font-family: 'Special Elite',serif;
font-size: 20px; 
}


li {
   font-family: 'Special Elite',serif;
font-size: 20px; 
}

h4 {
 font-family: 'Special Elite',serif;
font-size: 20px; 
    color: #494b4f; 
}

h5 {
    font-size: 16px;
    color: #494b4f;
    /*display: inline-block; */
font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#aboutmemain {
    width: 58%;
    margin-left: 14%;
    float: left;
}

#researchmain {
    width: 75%;
    margin-left: 14%;
    float: left;
}


#othermain {
    width: 75%;
    margin-left: 14%;
    float: left;
}

#sidebar {
    width: 22%;
    margin-left: 1%;
	margin-right: auto;
    float: left;
}

#sidebar p {
	text-align: center;
}

footer {
    clear: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2%;
    background-color: #901E90;
    color: #FFFFFF;
}

#portraitpic {
    /*width: 420px;*/
	/*display:table;*/
	display:inline-block;
}

#portraitpic img {
    padding: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px #999999;
    box-shadow: 1px 1px 15px #999999;
}

#aboutmemain .ach{
    font-weight: bold;
    color: #660035; 
}

figcaption {
    /*display: block;*/
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Special Elite',serif;
    margin-top: 10px;
 }

.centered {
    margin-left: auto;
    margin-right: auto;
}

.floatleft {
    margin-right: 10px;
    float: left;
}

.floatright {
    margin-left: 10px;
    float: right;
}

a {
    font-weight: bold;
    font-family: 'Special Elite',serif;
    color: #086014;
}

a:link {
    color: #086014;
}

a:visited {
    color: #012305;
}

a:hover, a:active, a:focus {
    color: #7F3300;
    text-decoration: underline;
}

#tabs {
	text-align:center;
}

#tabs li {
	display:inline;
}

#tabs a {
    width: 27%;
	display: inline-block;
    background-color: #4D4D4D;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Special Elite',serif;
    padding-top: 6px;
    padding-bottom: 6px;
}

#tabs a:hover, #tabs a:active, #tabs a:focus, #tabs a.thispage {
    background-color: #086014;
}

/*----------------------------------*/

#pub{
	height = 40%;
	width = 80%;
	margin-bottom: 5%;
}

#pub ul li {
   line-height:1.4em;
   margin-left: 25%;
}

/*-------------------------------*/
#otherthing{
	height = 300px;
	width = 900px;
	margin-bottom:10px;
}

#otherthing img{
	width: 25%;
	max-height:300px;
	margin-right:10px;
}

#otherthing .otinfo{
	margin-left: 30%;
}

#otherthing h3{
	margin-left: 30%;
	color: #660035; /*#901E90;*/
}

#otherthing h7{
    font-weight: bold;
    color: #660035;
}

myotherthings{
	height: auto;
	width: 95%;
	max-width: 1100px;
	min-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

myotherthings hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
	clear: both;
}

/*----------------------*/


article, aside, figure, footer, header, nav {
    display: block;
}
